.image-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vh;
  height: 40vh;
  background: gray;
  overflow: hidden;
  background-repeat: no-repeat;
}

.crop-selector {
  border: 2px solid white;
  box-sizing: border-box;
  min-width: 100px;
  min-height: 100px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
}

.image-preview {
  width: 60vh;
  height: auto;
}
